.todoList .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid magenta;
  width: 400px;
  border-radius: 5px;
  margin-left: 20px;
  font-family: 'Cairo', sans-serif;

}

.input {
  display: flex;
  flex-direction: row;
  
}



.deletebtn {
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 16px;
  background-color: magenta;
  color: white;
  border: 2px solid magenta;
  border-radius: 5px;
  font-family: 'Cairo', sans-serif;
  margin-left: 10px;
  margin-right: 10px;
}



.deletebtn:hover {
  border: 2px solid magenta;
}

::placeholder {
  color:  rgb(83, 3, 3);
  font-family: 'Cairo', sans-serif;
}

.submitbtn {
  padding: 10px;
  font-size: 16px;
  background-color: magenta;
  color: white;
  border: 2px solid magenta;
  border-radius: 5px;
  font-family: 'Cairo', sans-serif;
}

.todoList .header .submitbtn {
  padding: 12px;
  font-size: 16px;
  margin: 10px;
  background-color: magenta;
  color: white;
  border: 2px solid magenta;
  margin-right: 15px;
  border-radius: 5px;
  font-family: 'Cairo', sans-serif;
}

.todoList .header button:hover {
  background-color: white;
  color: magenta;
  cursor: pointer;
}

.todoList .theList {
  list-style: none;
  padding-left: 0;
  width: 250px;
  word-wrap: break-word;
}

.todoList .theList tr {
  color: white;
  background-color: rgba(92, 17, 113, 0.509);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
  
}

.todoList .theList tr:hover {
  background-color: magenta;
  color: black;
  cursor: pointer;
}

tbody .theList {
  font-family: 'Indie Flower', cursive;
 

}

p {
  text-align: center;
  font-size: 30px;
  
}

.checked {
  display:none;
}

tr  {
  list-style-type: none;
  font-family: 'Indie Flower', cursive;
  
  
}

tbody {
  border: 10px solid  rgb(83, 3, 3);

}

input[type=checkbox]:checked + label.strikethrough {
  text-decoration: line-through;
  color: #aaa;
 
 

}
.todos
{
  margin-right: -220px;
}

label {
  font-size: 30px;
  color: rgb(83, 3, 3);
 
}

.notepad {
  background-color: rgb(242, 185, 242);
  margin-top: -30px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 7px 28px 4px rgba(0,0,0,1);
  -moz-box-shadow: 3px 7px 28px 4px rgba(0,0,0,1);
  box-shadow:0px 3px 15px 0px rgb(15, 6, 15);
}

h1 {
  color:  rgb(83, 3, 3);
  border-bottom: 2px solid white;
  padding-bottom: 5px;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  margin-top: -5px;
 
}

h2 {
  color:  rgb(83, 3, 3);
  text-align: center;
  font-size: 27px;
  margin-top: -20px;
  font-family: 'Courgette', cursive;

  
}



body {
  font-family: 'Pacifico', cursive;
  font-family: 'Indie Flower', cursive;
  font-family: 'Courgette', cursive;
}



